<%- include("partials/header.ejs") %>

<section class="signup-form container ">
  <div class="title-addArtwork">
    <h2>Add New Artwork</h2>
    <hr />
  </div>

  
    <form action="/addArtwork" method="post">

      <div class="mb-3">
        <label for="title" class="form-label">Title:</label>
        <input type="text" id="title" name="title" class="form-control" required>
      </div>

      <div class="mb-3">
        <label for="year" class="form-label">Year:</label>
        <input type="number" id="year" name="year" class="form-control" required>
      </div>

      <div class="mb-3">
        <label for="category" class="form-label">Category:</label>
        <input type="text" id="category" name="category" class="form-control" required>
      </div>

      <div class="mb-3">
        <label for="medium" class="form-label">Medium:</label>
        <input type="text" id="medium" name="medium" class="form-control" required>
      </div>

      <div class="mb-3">
        <label for="description" class="form-label">Description:</label>
        <textarea id="description" name="description" class="form-control" required></textarea>
      </div>

      <div class="mb-3">
        <label for="poster" class="form-label">Poster URL:</label>
        <input type="text" id="poster" name="poster" class="form-control" required>
      </div>

      <button type="submit" class="btn btn-primary">Add Artwork</button>
    </form>
 
</section>

<%- include("partials/footer.ejs") %>
