<%- include("partials/header.ejs") %>

<section class="homepage">


  <div id="content-div">


    <p>Explore and showcase amazing artworks from talented artists!</p>
 

 
    <h2>Get Started</h2>
    <div>
      <p>If you're an artist, showcase your work. If you're an art enthusiast, discover and connect with artists.</p>
    </div>
    <div>

      <% if (!user) { %>
        <a class="btn btn-primary" href="/login">Log In</a>
        <span> or </span>
        <a class="btn btn-success" href="/signup">Sign Up</a>
      <% } %>

    </div>


  </div>

    
  </section>

<%- include("partials/footer.ejs") %>